body {
    margin: 0;
    padding: 0;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(173,174,176,1) 100%);
}
main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 800px;
}
.admin-nav{
    display: flex;
    justify-content: center;
}
.admin-nav button {
    width: 100px;
    height: 50px;
    place-self: initial;
    border: 0;
    border-radius: 5px;
    background-color: rgb(51,51,51);
    color: white;
}