body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0;
    height: 100vh;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 35%, rgba(173,174,176,1) 100%);
}
form {
    border-radius: 15px;
    width: 90%;
    height: auto;
    min-width: 280px;
    max-width: 800px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin: 80px 0 auto 0;
    color: black;
}
form select {
    border: 2px solid black;
    border-radius: 5px;
    width: 80%;
    height: 45px;
    font-size: 16px;
    margin: 10px auto;
    text-indent: 12px;
    background-color: white;
}
form input[type=text] {
    border: 2px solid black;
    border-radius: 5px;
    width: 79%;
    height: 40px;
    font-size: 16px;
    margin: 10px auto;
    text-indent: 12px;
    background-color: white;

}

form input[type=file] {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
form input[type=file] + label {
    margin: 10px auto;
    font-size: 20px;
    color: white;
    background-color: black;
    display: inline-block;
    width: 280px;
    display: flex;
    align-items: center;
    border-radius: 10px;
}
span {
    margin: 10px auto;
    font-size: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

}
.uploadIcon {
    font-size: 50px;
    color: white;
    margin-right: 10px;
}

form input:focus, form select:focus {
    outline: none;
}
form select option {
    background: white;
    font-size: 16px;
    height: 20px !important;
}
form input[type=submit]{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    margin: 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    align-self: flex-end;
    
}
.filterDiv {
    display: none;
    margin: 5px 0;
    background-color: #eeeeee;
}
.block {
    display: flex;
    justify-content: space-between;
    border: 2px solid darkslategray;
    border-radius: 5px;
    width: 100%;

}
.block h2, 
.block button{
    margin-right: 10px;
}
.show {
    display: block;
}
.desplegable {
    border: 2px solid darkslategray;
    border-top: none;
    border-bottom: none;
    background-color: wheat;
    height: 0;
    margin: 0 10px;
    padding-left: 10px;
    overflow: hidden;
}
.active {
    height: auto;
    border-bottom: 2px solid darkslategray;
}

.filterDiv button{
    height: 40px;
    width: 80px;
    margin: 10px;
    float: right;
    background: grey;
    color: white;
    border-radius: 5px;
    border: 2px solid rgb(51, 51, 51) ;
}
.desplegable input.contenidoEditable{
    color: deeppink;
    border: none;
    background: none;
    border-radius: 0;
    height: auto;
    padding: 0;
    text-indent: 5px;
    margin-left: 5px;
    border-bottom: 2px solid rgb(51, 51, 51);
}
#btn-add, .btn-back {
    height: 50px;
    width: 120px;
    font-size: 16px;
    border: 0;
    border-radius: 10px;
    background-color: black;
    color: white;
    cursor: pointer;
    text-decoration: none;
}
#btn-add {
    align-self: flex-end;
    margin: 10px -3px 20px 0;
}
.btn-back a {
    height: 100%;
    width: 100%;
    font-size: 16px;
    text-decoration: none;
    color: white;
    
}
.frame-add {
    padding: 10px;
    background-color: #dfdfdf;
    border: 1px solid #888888b6;
    border-radius: 10px;
    display: none;
    height: auto;
    margin: 20px;

}
.frame-add h3{
    margin: 10px 10px;
}
.frame-add input[type=text] {
    border: 2px solid black;
    border-radius: 5px;
    width: 97%;
    height: 40px;
    font-size: 16px;
    margin: 10px auto;
    text-indent: 12px;
    background-color: white;

}
.frame-add select {
    border: 2px solid black;
    border-radius: 5px;
    width: 98%;
    height: 45px;
    font-size: 16px;
    margin: 10px auto;
    text-indent: 12px;
    background-color: white;
}
.frame-add input[type=submit]{
    height: 50px;
    width: 100px;
    border: 2px solid black;
    margin: 10px 10px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-size: 16px;
    float: right;
    
}
.add {
    display: block;
}
/* admin-nav */
.admin-nav {
    display: grid;
    grid-template-columns: auto auto;
}
